################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Tetris/Debug
/Tetris/.vs/Tetris/v16
